
<div class="banner" id="home">
    <div class="container">
        <h4 class="os-animation" data-os-animation="rotateInDownLeft" data-os-animation-delay="0.3s">Creating realistic</h4>
          <h1 class="os-animation" data-os-animation="rotateInDownRight" data-os-animation-delay="0.5s">workshop UNIQUE <br>DECORATIONS</h1>
          <a href="#" class="redone os-animation" data-os-animation="slideInLeft" data-os-animation-delay="0.7s">Learn more</a>
          <a href="#" class="whiteone os-animation" data-os-animation="slideInRight" data-os-animation-delay="0.7s">Choose decoration</a>
      </div>
  </div>

