<div class="mainslide">
    <div class="container os-animation" data-os-animation="flipInX" data-os-animation-delay="0.5s">
        <ul class="bxslider">
            <li>
                  <div class="row">
                      <div class="col-lg-6 col-sm-6 col-md-6">
                          <img src="assets/images/ring.jpg" alt="" />
                      </div>
                      <div class="col-lg-6 col-sm-6 col-md-6">
                          <h3>Mercury</h3>
                          <img src="assets/images/zig.png" class="sizeed" alt="" />
                          <p>Movie buff Tony Chou (Tony Zhou) published in his Vimeo video review with an analysis of the demonstration set of SMS and other text messages in modern cinema.</p>
                          <a href="#" class="learn">Learn more</a>
                      </div>
                  </div>
            </li>
              <li>
                  <div class="row">
                      <div class="col-lg-6 col-sm-6 col-md-6">
                          <img src="assets/images/ring.jpg" alt="" />
                      </div>
                      <div class="col-lg-6 col-sm-6 col-md-6">
                          <h3>Mercury</h3>
                          <img src="assets/images/zig.png" class="sizeed" alt="" />
                          <p>Movie buff Tony Chou (Tony Zhou) published in his Vimeo video review with an analysis of the demonstration set of SMS and other text messages in modern cinema.</p>
                          <a href="#" class="learn">Learn more</a>
                      </div>
                  </div>
            </li>
              <li>
                  <div class="row">
                      <div class="col-lg-6 col-sm-6 col-md-6">
                          <img src="assets/images/ring.jpg" alt="" />
                      </div>
                      <div class="col-lg-6 col-sm-6 col-md-6">
                          <h3>Mercury</h3>
                          <img src="assets/images/zig.png" class="sizeed" alt="" />
                          <p>Movie buff Tony Chou (Tony Zhou) published in his Vimeo video review with an analysis of the demonstration set of SMS and other text messages in modern cinema.</p>
                          <a href="#" class="learn">Learn more</a>
                      </div>
                  </div>
            </li>


          </ul>
      </div>
  </div>
