<div class="history" id="news">
    <div class="container">
        <div class="row">
          <div class="col-lg-6 col-sm-6 col-md-6">
                <h2 class="os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0.5s">our<br>interesting<br>history</h2>
              </div>
            <div class="col-lg-6 col-sm-6 col-md-6">
                <p class="os-animation" data-os-animation="fadeInRight" data-os-animation-delay="0.5s">Science in the media always seems to be very one-sided. News media chasing sensations and much has been written about the research, "British scientists" and the low probability, but high-profile discoveries, which may take place in the future, not only paying attention to really important things. In addition, the Internet, magazines and television are often held discussions on</p>
       <br>
  <p class="os-animation" data-os-animation="fadeInRight" data-os-animation-delay="0.5s">Science in the media always seems to be very one-sided. News media chasing sensations and much has been written about the research, "British scientists" and the low probability, but high-profile discoveries, which may take place in the future, not only paying attention to really important things. In addition, the Internet, magazines and television are often held discussions on</p>
              </div>
          </div>
      </div>
  </div>

